@import url('./zero-style.css');
@import url('./font-family-style/font-family-style.css');
@import url('./block-team.css');


.conteiner {
   width: 100%;
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 10px;
   color: rgb(65, 65, 65);
}

















































